<div id="<%= dom_id user %>">
  <p>
    <strong>First Name:</strong>
    <%= user.fname %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= user.lname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Current Password: </strong><span class="text-danger">ENCRYPTED</span>
  </p>

  <p>
    <strong>Account Type:</strong>
      <% if user.is_admin %>
        <span>Administrator</span>
      <% else %>
        <span>Standard User</span>
      <% end %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= user.status %>
  </p>

</div>
