<!-- This will display errors related to Quote -->
<% if @quote.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @quote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- Initiate rendering of the form for @quote object. Get user_id from session as hidden field -->
<%= form_with(model: @quote, local: true) do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <!-- Quote text form field with Bootstrap styling -->
  <div class="form-group" style="padding-bottom: 10px;">
    <%= f.text_area :quote_text, placeholder: 'Type quote here', class: 'form-control' %>
  </div>

  <!-- Quote publication year form field with Bootstrap styling -->
  <div class="form-group" style="padding-bottom: 10px;">
    <%= f.text_field :publication_year, placeholder: 'Year published', class: 'form-control' %>
  </div>

  <!-- Quote user comment form field with Bootstrap styling -->
  <div class="form-group" style="padding-bottom: 10px;">
    <%= f.text_area :comment, placeholder: 'Add any comments of your own here (optional)', class: 'form-control' %>
  </div>

  <!-- Quote isPublic checkbox with Bootstrap styling -->
  <div class="form-group" style="padding-bottom: 10px;">
    <%= f.label :isPublic do %>
      Public
      <%= f.check_box :isPublic, class: 'form-check-input' %>
    <% end %>
  </div>

  <!-- Select existing philosopher -->
  <div class="form-group" style="padding-bottom: 10px;">
    <p>
    Philosopher:
    <%= f.collection_select :philosopher_id, Philosopher.all, :id, Proc.new{ |p| "#{p.fname} #{p.lname}" }, class: 'form-control' %>
    </p>
  </div>

  <!-- Select existing category -->
  <div class="form-group" style="padding-bottom: 10px;">
    <p>
    Category:
    <%= f.collection_select :category_id, Category.all, :id, :name, class: 'form-control' %>
    </p>
  </div>

  <!-- Add a conditional check to see if the quote is already in the database and display appropriate button text -->
  <div class="mt-3">
    <% if quote.new_record? %>
      <%= f.submit 'Add Quote', class: 'btn btn-primary btn-lg' %>
    <% else %>
      <%= f.submit 'Update Quote', class: 'btn btn-primary btn-lg' %>
    <% end %>
  </div>
<% end %>