<p style="color: green"><%= notice %></p>

<%= render @philosopher %>

<div>
  <%= link_to "Edit this philosopher", edit_philosopher_path(@philosopher) %> |
  <%= link_to "Back to philosophers", philosophers_path %>

  <%= button_to "Destroy this philosopher", @philosopher, method: :delete %>
</div>

<!-- Iterate through each quote in Quotes and display this Philosopher's quotes as a card -->
<br />
<h3>Quotes by this Philosopher</h3>
<hr />
<% @quotes.each do |quote| %>
    <div class="card bg-body-tertiary" style="margin-bottom:10px">
    <div class="card-body">
        <h4 class="card-title"><%= quote.quote_text %></h4>
        <p class="card-text"><%= quote.philosopher.fname %> <%= quote.philosopher.lname %></p>
        <span class="small-italic-text" style="font-size:0.8em; font-style:italic">Uploaded by <%= quote.user.fname %> <%= quote.user.lname %></span>
    </div>
    </div>
<% end %>